
@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Josefin+Sans&display=swap');

body{
    background: url('images/bg.jpg');

}

*{
    font-family: 'josefin sans';
    padding: 0;
    margin: 0;
    color:#fff;
}
.postion{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    
}
.display-parsley,
.display-onion,
.display-olive,
.display-meat1,
.display-meat,
.display-mashroom,
.display-extra,
.display-braclee,
.display-shimla
{
    display: none;
    position: relative;
    left: 0;
}
.container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap-reverse;
 /* flex-direction: row; */
 /* height:100vh; */
}

.customizer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 5%;
    margin: auto;
}
.preview h1{
    margin-top:5%;
    text-align: center;
}
.preview{
    margin: auto;
}
.top-heading{
    font-family: 'Finger Paint';
    text-align: center;
}
.options{
    display: flex;
    padding: 30%;
    /* flex-direction: row; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 75%; */
    /* transform: translate(-50%,-50%) */
}
.options div{
    margin-right: 30px;
}

label{
    display: block;    
}
button{
    color:black;
    padding: 10px 20px;
}


@media (max-width: 876px){
    .postion{
        top: 93%;
        left: 50%;
    }
    .container{
        margin-top: 20px;
    }
    .customizer{
        margin-left: auto;
        margin-right: auto;
    }
    .options div{
        padding:0 20%;
        font-size:30px;

    }
    .options{
        margin-left: -20%;
        margin-top: -20%;
    }
    .preview{
        margin:auto;
    }
}